body {
    background-image: url("woodbackground.jpg");
}
header, footer {
    color: #501818;
    background-image: url("woodgrain.jpg");
    text-align: center;
}
header li {
    background-image: url("woodgrain.jpg");
    border: solid black 4px;
    display: inline;
    padding: .5em;
    margin: 10em;
    color: white;
}
header img {
    margin: 5px;
}

h1{
    font-size: 10em;
    border: solid black 3px;
    background-color: rgba(121, 133, 67, 0.425);
    margin: 5px;
}
h2{
    color: white;
    text-align: center;
    font-size: 3em;
}
section {
    background-color: rgba(240, 255, 240, 0.397);
    text-align: right;
    color: white;
}
#section2 {
    background-image: url("woodgrain2.jpg");
    text-align: center;
}
img {
    margin: 10px;
}
footer{
    color: white;
}
footer li {
    border: solid brown 2px;
    padding: .25em;
    margin: 1px;
    display: block;
}

 